Witaj #{@notification.receiver_email}

user_name: #{@notification.user_name}
user_company: #{@notification.user_company}
notification_body: #{@notification.body}
notification_subject: #{@notification.subject}
event_date: #{@notification.event_date}
