%h1 Welcome #{@notification.receiver_email}

%p user_name: #{@notification.user_name}
%p user_company: #{@notification.user_company}
%p notification_body: #{@notification.body}
%p notification_subject: #{@notification.subject}
%p event_date: #{@notification.event_date}
