%section.section
  %h2.subtitle
    #{t('.logistician')}: #{logistician_presenter.full_name}
  %p
    #{t('.device_serial_number')}: #{trailer_presenter.device_serial_number}
  %p
    #{t('.registration_number')}: #{trailer_presenter.registration_number}
  %p
    #{t('.phone_number')}: #{trailer_presenter.phone_number}
  %p
    #{t('.company')}: #{trailer_presenter.company}
